#parallax_image {
  background-image: url("assets/city_view_dusk.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  /* parallax effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paraText {
  font-family: Cursive, "Cosmic Sans", "American Typewriter";
  color: rgba(0, 0, 0, 0.9);
  font-size: 60px;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

p {
  text-align: justify;
  font-family: "American Typewriter";
  font-size: medium;
}

#parallax_image_2 {
  background-image: url("assets/city_view_dusk.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-bottom: 50px;

  /* parallax effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax_image_3 {
  background-image: url("assets/old_city.jpg");
  height: 500px;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-bottom: 50px;

  /* parallax effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bottom_text p:nth-child(2) {
  margin-bottom: 50px;
}
